@import '~/.config/.themes/od_waybar.css';

* {
    border: none;
    border-radius: 0;

    font-family: "Adwaita Sans", "GeistMono Nerd Font Propo", sans-serif;

    min-height: 0;
    padding: 0;
    margin: 0;
};

window#waybar {
    background: transparent;
};

tooltip {
    background: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;
};

tooltip label {
    color: @fg0;
    padding: 6px;
};

#workspaces {
    background-color: @bg0;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid @bg1;
    color: @fg0;
};

#workspaces button {
    padding: 0 6px;
    margin: 0px 3px;
    border-radius: 45px;
    color: transparent;
    background-color: @bg1;
    transition: all 0.3s ease-in-out;
};

#workspaces button.active {
    background-color: @accent_primary;
    color: @bg0;
    min-width: 45px;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
};

#workspaces button.hover {
    background-color: @accent_secodary;
    color: @bg0;
    border-radius: 16px;
    min-width: 45px;
    background-size: 400% 400%;
};

#workspaces button.urgent {
    background-color: @alert;
    color: @bg0;
    border-radius: 16px;
    min-width: 45px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
};

#clock,
#network,
#pulseaudio,
#backlight,
#temperature,
#custom-notification {
    background-color: @alert;
    padding: 0 15px 0 15px;
    margin: 0 0 0 12px;
    border-radius: 45px;
    border: 1px solid @bg1;
};

#clock {
    color: @accent5;
};

#custom-notification {
    color: @fg0;
    margin: 0 12px 0 12px;
};

#pulseaudio {
    color: @accent2;
};

#network {
    color: @accent6;
};

#backlight {
    color: @accent1;
};

#temperature {
    color: @accent3;
};