
//@theme "/home/em/.local/share/rofi/themes/windows11-grid-dark.rasi"

//@theme "/home/em/.local/share/rofi/themes/spotlight-dark.rasi"

//@theme "/home/em/.local/share/rofi/themes/squared-everforest.rasi"

//@theme "/home/em/.local/share/rofi/themes/rounded-green-dark.rasi"

//@theme "/home/em/.local/share/rofi/themes/squared-material-red.rasi"

//@theme "/home/em/.local/share/rofi/themes/rounded-red-dark.rasi"

//@theme "/home/em/.local/share/rofi/themes/rounded-gray-dark.rasi"

//@theme "/home/em/.local/share/rofi/themes/rounded-gray-dark.rasi"

//@theme "/home/em/.local/share/rofi/themes/nord.rasi"

//@theme "/home/em/.local/share/rofi/themes/rounded.rasi"

//@theme "/home/em/.local/share/rofi/themes/launchpad.rasi"

//@theme "/home/em/.local/share/rofi/themes/rounded.rasi"

//@theme "/home/em/.local/share/rofi/themes/simple-tokyonight.rasi"

//@theme "/home/em/.local/share/rofi/themes/rounded.rasi"

//@theme "/home/em/.local/share/rofi/themes/simple-tokyonight.rasi"

//@theme "/home/em/.local/share/rofi/themes/spotlight-dark.rasi"

//@theme "/home/em/.local/share/rofi/themes/spotlight-dark.rasi"

//@theme "/home/em/.local/share/rofi/themes/spotlight.rasi"

//@theme "/home/em/.local/share/rofi/themes/simple-tokyonight.rasi"

//@theme "/home/em/.local/share/rofi/themes/spotlight.rasi"

//@theme "/home/em/.local/share/rofi/themes/rounded.rasi"

//@theme "/home/em/.local/share/rofi/themes/spotlight.rasi"

//@theme "/home/em/.local/share/rofi/themes/squared-everforest.rasi"

//@theme "/home/em/.local/share/rofi/themes/squared.rasi"

//@theme "/home/em/.local/share/rofi/themes/grid.rasi"

//@theme "/home/em/.local/share/rofi/themes/list.rasi"

//@theme "/home/em/.local/share/rofi/themes/rounded.rasi"

//@theme "/home/em/.local/share/rofi/themes/launchpad.rasi"

//@theme "/home/em/.local/share/rofi/themes/rounded.rasi"

@theme "/home/em/.local/share/rofi/themes/rounded.rasi"
